.navbar {
    overflow: hidden;
    position: sticky;
}
.container {
    margin-top: 16px;
}
.card-footer {
    text-align: center;
}
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
